<p>login works!</p>

<form [formGroup]="data" (ngSubmit)="handleSubmit()">
    <label for="email">User Id</label>
    <input type="email" id="email" placeholder="Please enter your email" formControlName="userId">

    <br/><br/><br/>
    <label for="password">Password</label>
    <input type="password" id="password" placeholder="Please enter your password" formControlName="password">
    
    <br/><br/><br/>
    <button type="submit">Login</button>

    <br/><br/><br/>
    <a routerLink="/register">Don't have an account?</a>
</form>
