<p>addcourse works!</p>
<h2>Ajouter un Cours</h2>

<form (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Nom du cours:</label>
    <input type="text" id="name" [(ngModel)]="course.name" name="name" required />
  </div>

  <div>
    <label for="instructor">Instructeur:</label>
    <input type="text" id="instructor" [(ngModel)]="course.instructor" name="instructor" required />
  </div>

  <div>
    <label for="schedule">Horaire:</label>
    <input type="text" id="schedule" [(ngModel)]="course.schedule" name="schedule" required />
  </div>

  <div>
    <label for="contenu">Contenu:</label>
    <input type="text" id="contenu" [(ngModel)]="course.contenu" name="contenu" required />
  </div>

  <div>
    <label for="danceSchool">École de danse:</label>
    <select id="danceSchool" [(ngModel)]="selectedDanceSchoolId" name="danceSchool" required>
      <option *ngFor="let school of danceSchools" [value]="school.id">{{ school.name }}</option>
    </select>
  </div>

  <button type="submit">Ajouter le cours</button>
</form>

<div *ngIf="successMessage">{{ successMessage }}</div>
<div *ngIf="errorMessage">{{ errorMessage }}</div>
